
.box{
    font-size: 25px;
    padding: 30px;
    margin-left: 100px;
    margin-top: 50px;
   background-color: rgba(0, 0,0,0.1);
    borer: 1px solid black;
    position: relative;
    width: calc(100vw - 200px);
    width: 1156px;
}
.box::after{
    content: ''; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 165px;
    left: -1px;
    top: -40px;
    position:absolute;
    width: calc(100vw - 150px);

}
.box::before{
    content: '';
    width: 1280px;
    right: -25px;
    top:-1px ;
    position: absolute;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    content: '';
    height: calc(100vw - 1278px);
}
h1{
    margin-left: 100px;
}


