a{
 color: blue;
}
 a::before{
    content:"\00BB" ;
    padding-right: 10px;

}

li:nth-child(3) a{
    color: green;
}
li:nth-child(3) a::after{ 
    content: "\21D2";
    color: coral;
}
li:nth-child(5) a::after{
    content: "\21D2";
    color: coral;
}
li:nth-child(6) a{
    color: green;
}

li:last-child  a:before{
 content:"\00D7";
 color: red;
}
li:nth-child(7) a::before{
    content:"\00D7";
 color: red;
}
li:nth-child(5) a:hover::after{ 
    content:"\2026 last symbol is 'a' " ;
    color: coral;
    font-style: italic;
}