h1{
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    width: 500px;
    padding: 3px;
}
.submit{
    border: 2px solid grey;
    border-radius: 1px;
    height: 20px;
    color: grey;
    background-color: #D3D3D3;
    width: 40px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;    
}