@media  screen and (max-width:1024px){
    .main{
        width: 100%;
    }
}
@media  screen and (max-width:768px){
    .main{
        width: 500px;
    }
}
@media  screen and (max-width:360px){
    .main{
        width: 300px;
    }
}

